{{template "pageStart.html" .}}
<div class="admin-overview">
  <div class="table col-lg-10 col-lg-offset-1">
    <div class="row header col-lg-12">
      <div class="col-lg-2">Employee #</div>
      <div class="col-lg-3">Name</div>
      <div class="col-lg-2">Position</div>
      <div class="col-lg-1">Start Date</div>
      <div class="col-lg-2">Status</div>
      <div class="col-lg-2">
        <a role="button" class="btn admin-primary"
           href="/admin/employees/add">
          Add
        </a>
      </div>
    </div>
    {{range .Employees}}
      <div class="row col-lg-12">
        <div class="col-lg-2">{{.ID}}</div>
        <div class="col-lg-3">{{.LastName}}, {{.FirstName}}</div>
        <div class="col-lg-2">{{.Position}}</div>
        <div class="col-lg-1">{{.StartDate.Format "2-Jan-2006"}}</div>
        <div class="col-lg-2">{{.Status}}</div>
        <div class="col-lg-2">
          <a role="button" class="btn admin-primary-lighten-1"
             href="/admin/employees/{{.ID}}">
            Edit
          </a>
        </div>
      </div>
    {{end}}
  </div>
</div>
{{template "pageEnd.html" .}}
