{{template "pageStart.html" .}}
<div class="main-menu">
  <a href="#" role="button" class="btn col-lg-6 col-lg-offset-3 primary">Medical Benefits</button>
    <a href="#" role="button" class="btn col-lg-6 col-lg-offset-3 primary">Dental Benefits</button>
      <a href="#" role="button" class="btn col-lg-6 col-lg-offset-3 primary">Vision Benefits</button>
        <a href="#" role="button" class="btn col-lg-6 col-lg-offset-3 primary">Retirement Benefits</button>
          <a href="/employees/962134/vacation" role="button" class="btn col-lg-6 col-lg-offset-3 primary-lighten-1">Vacation and Time Off</button>
            {{if not .IsAdmin}}
            <a href="/admin" role="button" class="btn col-lg-6 col-lg-offset-3 admin-primary">Administration</button>
              {{end}}
</div>
{{template "pageEnd.html" .}}
